<div class="flex flex-row gap-2 items-center">
  <span class="w-12 h-12 overflow-hidden shadow rounded-full">
    <img
      alt="cover"
      src="../../../assets/profile.jpg"
      class="w-full h-full object-cover"
      loading="lazy"
    />
  </span>
  <ul class="flex flex-col flex-grow">
    <li>{{ popularUser.fullname }}</li>
    <li class="text-sm italic font-light">
      {{ followStatus.follower ? "follows you" : "" }}
    </li>
  </ul>
  <button
    (click)="follow()"
    class="bg-[#3f3f3f] py-[0.15rem] rounded h-fit px-4 text-white"
  >
    {{ followStatus.following ? "Unfollow" : "Follow" }}
  </button>
</div>
