<nav
  class="w-full fixed top-0 h-[3rem] bg-gradient-to-b from-gray-600 to-transparent flex flex-row items-center z-20 lg:from-[#3f3f3f] lg:to-[#3f3f3f]"
>
  <div class="flex flex-row w-full justify-between 2xl:justify-around lg:px-8">
    <span class="relative hidden lg:inline">
      <input
        type="text"
        [(ngModel)]="searchValue"
        placeholder="What're you looking for?"
        class="bg-white rounded-full text-primary-black focus:outline-none pl-6 pr-1 py-1 shadow-lg w-[20rem]"
      />
      <span
        class="iconify absolute top-1/2 -translate-y-[50%] left-1 text-primary-black"
        data-icon="fe:search"
      ></span>
    </span>

    <button
      (click)="onToggleDropdown()"
      class="w-fit ml-auto lg:ml-0 flex flex-row items-center"
    >
      <span
        class="iconify text-3xl text-primary-black lg:text-white"
        data-icon="carbon:user-avatar-filled"
      ></span>
      <span
        class="iconify text-xl text-primary-black lg:text-white"
        data-icon="ant-design:caret-down-filled"
      ></span>
    </button>
  </div>
</nav>
<aside
  [ngClass]="{ dropdownmenu: mobileDropdown }"
  class="fixed right-0 top-0 bg-primary-cream overflow-hidden w-0 h-screen flex flex-col items-center gap-2 shadow-lg transition-all pt-[4rem] z-10"
>
  <span class="relative w-[90%] mx-auto">
    <input
      type="text"
      [(ngModel)]="searchValue"
      placeholder="What're you looking for?"
      class="bg-white rounded-full text-primary-black focus:outline-none pl-6 pr-1 py-1 shadow-lg w-full"
    />
    <span
      class="iconify absolute top-1/2 -translate-y-[50%] left-1 text-primary-black"
      data-icon="fe:search"
    ></span>
  </span>
  <ul
    class="flex flex-col w-full mt-4 items-center text-primary-black lg:text-white gap-2"
  >
    <li class="hover:bg-white lg:hover:text-primary-black w-[90%] py-1 rounded">
      <button class="w-full mx-auto" href="#">Profile</button>
    </li>
    <li class="hover:bg-white lg:hover:text-primary-black w-[90%] py-1 rounded">
      <button class="w-full mx-auto" href="#">Explore</button>
    </li>
    <li class="hover:bg-red-500 hover:text-white w-[90%] py-1 rounded">
      <button type="button" class="w-full" (click)="logout()">Log Out</button>
    </li>
  </ul>
</aside>
