<div class="w-[368.81px] h-fit pb-4 bg-primary-cream shadow-lg flex flex-col">
  <header class="h-[6rem] overflow-hidden">
    <img
      alt="cover"
      src="../../../assets/cover.jpg"
      class="w-full h-full object-cover"
      loading="lazy"
    />
  </header>
  <div class="w-20 h-20 rounded-full self-center -mt-10 overflow-hidden">
    <img
      alt="profile"
      src="../../../assets/profile.jpg"
      class="w-full h-full object-cover"
      loading="lazy"
    />
  </div>
  <p class="mx-auto">@{{ miniprofile.userdata.username }}</p>
  <p class="text-center w-[80%] mx-auto text-sm 2xl:text-base mt-4">
    {{ miniprofile.userdata.bio }}
  </p>
  <div class="flex flex-row justify-evenly mt-4">
    <span class="flex flex-col items-center">
      <p class="text-2xl font-medium">
        {{ miniprofile.follow.following.length }}
      </p>
      <p>Following</p>
    </span>
    <span class="flex flex-col items-center">
      <p class="text-2xl font-medium">
        {{ miniprofile.follow.followers.length }}
      </p>
      <p>Followers</p>
    </span>
  </div>
</div>
