.pencil {
  display: none;
}

.close {
  display: none;
}

section::-webkit-scrollbar {
  display: none;
}
section::-webkit-scrollbar-thumb {
  width: 0.45rem;
  border-radius: 20px;
  background-color: rgb(91, 88, 88);
}

@media (min-width: 768px) {
  section::-webkit-scrollbar {
    display: flex;
    width: 0.45rem;
  }

  section::-webkit-scrollbar-thumb {
    width: 0.45rem;
    border-radius: 20px;
    background-color: rgb(91, 88, 88);
  }
}
