<section class="w-full h-screen grid place-items-center bg-primary-cream">
  <div
    class="flex flex-col lg:flex-row w-full lg:w-[50rem] h-full lg:h-[30rem] lg:shadow-lg"
  >
    <span
      class="hidden w-1/2 flex-shrink-0 bg-[#3f3f3f] lg:flex flex-col gap-4 items-center justify-center"
    >
      <span
        class="iconify w-[5rem] h-[5rem] text-white"
        data-icon="carbon:user-avatar-filled-alt"
      ></span>
      <button
        (click)="onToggleForm()"
        class="bg-white px-12 py-2 shadow-md hover:bg-white text-primary-black hover:-translate-y-[2px] hover:shadow-xl transition-all"
      >
        {{ toggleButton }}
      </button>
      <span class="flex flex-row gap-3 justify-center items-center p-1">
        <span
          class="iconify w-[1.4rem] h-[1.4rem] text-white"
          data-icon="akar-icons:google-fill"
        ></span>
        <div class="h-full w-[1.5px] bg-white"></div>
        <span
          class="iconify w-[1.4rem] h-[1.4rem] text-white"
          data-icon="akar-icons:facebook-fill"
        ></span>
      </span>
    </span>
    <router-outlet></router-outlet>
  </div>
</section>
