<section
  [ngClass]="{ toggled: setOpen }"
  (click)="onClickOutside($event)"
  #outsidepostbox
  class="w-screen h-0 fixed top-0 left-0 overflow-hidden bg-[#00000029] z-20"
>
  <div
    class="w-full lg:w-[50%] p-4 bg-white mx-auto shadow-lg flex flex-row gap-2 rounded"
  >
    <div class="rounded-full w-14 h-14 overflow-hidden flex-shrink-0">
      <img
        alt="profile"
        src="../../../assets/profile.jpg"
        class="w-full h-full object-cover"
        loading="lazy"
      />
    </div>
    <span class="flex flex-col w-full gap-2">
      <div class="w-full h-[118px] flex-shrink-0 bg-white relative">
        <textarea
          *ngIf="!postTypeIsImage"
          [(ngModel)]="post"
          class="w-full h-full bg-white ring-gray-300 rounded focus:ring-primary-black ring-1 resize-none relative p-1 focus:outline-none"
          placeholder="What's on your mind?"
        ></textarea>
        <input
          *ngIf="postTypeIsImage"
          class="w-full h-full bg-white border border-gray-300 border-dashed rounded relative p-1 focus:outline-none"
          type="file"
          (change)="onChange($event)"
        />
        <button
          (click)="createPost()"
          class="w-[2rem] h-[2rem] rounded-full bg-[#3f3f3f] hover:bg-sky-500 absolute bottom-2 right-2 grid place-items-center text-primary-cream"
        >
          <span class="iconify text-xl" data-icon="akar-icons:send"></span>
        </button>
      </div>
      <ul class="flex flex-row w-full justify-between">
        <li>
          <button
            class="bg-[#3f3f3f] text-white px-6 py-1 text-sm rounded"
            (click)="onTogglePostType()"
          >
            Image
          </button>
        </li>
        <li>
          <button
            class="bg-[#3f3f3f] text-white px-6 py-1 text-sm rounded"
            (click)="onTogglePostType()"
          >
            Video
          </button>
        </li>
        <li>
          <button
            class="bg-[#3f3f3f] text-white px-6 py-1 text-sm rounded"
            (click)="onTogglePostType()"
          >
            Audio
          </button>
        </li>
      </ul>
    </span>
  </div>
</section>
