<div
  [ngClass]="{ toggled: setOpen }"
  class="w-full lg:w-[40%] h-0 bg-white lg:left-1/2 lg:-translate-x-[50.5%] fixed top-0 left-0 shadow-lg flex flex-row overflow-hidden gap-2 transition-all"
>
  <div class="rounded-full w-14 h-14 overflow-hidden flex-shrink-0">
    <img
      alt="profile"
      src="../../../assets/profile.jpg"
      class="w-full h-full object-cover"
      loading="lazy"
    />
  </div>
  <span class="flex flex-col w-full gap-2">
    <div class="w-full h-[108px] flex-shrink-0 bg-white relative">
      <textarea
        class="w-full h-full bg-white ring-gray-300 rounded focus:ring-primary-black ring-1 resize-none relative p-1 focus:outline-none"
      ></textarea>
      <div
        class="w-[2rem] h-[2rem] rounded-full bg-[#3f3f3f] absolute bottom-2 right-2 grid place-items-center text-primary-cream"
      >
        <span class="iconify text-xl" data-icon="akar-icons:send"></span>
      </div>
    </div>
    <ul class="flex flex-row w-full justify-between">
      <li class="bg-[#3f3f3f] text-white px-6 py-1 text-sm rounded">Image</li>
      <li class="bg-[#3f3f3f] text-white px-6 py-1 text-sm rounded">Video</li>
      <li class="bg-[#3f3f3f] text-white px-6 py-1 text-sm rounded">Audio</li>
    </ul>
  </span>
</div>
