<div class="w-full bg-primary-cream flex flex-col p-2 gap-2">
  <div class="flex flex-row w-full justify-between">
    <span class="flex flex-row gap-1">
      <span class="w-12 h-12 rounded-full overflow-hidden shadow bg-red-400">
        <img
          alt="cover"
          src="../../../assets/profile.jpg"
          class="w-full h-full object-cover"
          loading="lazy"
        />
      </span>
      <ul class="flex flex-col">
        <li class="text-base">{{ postData.fullName }}</li>
        <li class="text-sm font-light">@{{ postData.userName }}</li>
      </ul>
    </span>
    <ul class="flex flex-col">
      <li class="text-base">
        <span
          class="iconify text-2xl"
          data-icon="carbon:overflow-menu-horizontal"
        ></span>
      </li>
      <li class="text-sm font-light">{{ timeCreated.getFullYear() }}</li>
    </ul>
  </div>
  <div class="text-sm w-full px-2">
    {{ postData.post }}
  </div>
  <ul class="justify-evenly flex flex-row">
    <li class="flex flex-row items-center gap-1">
      <button (click)="onLikePost()">
        <span
          class="iconify text-2xl"
          data-icon="icon-park-outline:like"
        ></span>
      </button>
      <p>{{ interactions.likes }}</p>
    </li>
    <li class="flex flex-row items-center gap-1">
      <button (click)="onUnlikePost()">
        <span
          class="iconify text-2xl"
          data-icon="icon-park-outline:dislike"
        ></span>
      </button>
      <p>{{ interactions.unlikes }}</p>
    </li>
    <li class="flex flex-row items-center gap-1">
      <span class="iconify text-2xl" data-icon="bx:comment-detail"></span>
      <p>{{ interactions.comments }}</p>
    </li>
  </ul>
</div>
