<div class="w-full bg-primary-cream flex flex-col p-2 gap-2">
  <div class="flex flex-row w-full justify-between">
    <span class="flex flex-row gap-1">
      <span class="w-12 h-12 rounded-full bg-red-400"></span>
      <ul class="flex flex-col">
        <li class="text-base">Full Name</li>
        <li class="text-sm font-light">username</li>
      </ul>
    </span>
    <span
      class="iconify text-2xl"
      data-icon="carbon:overflow-menu-horizontal"
    ></span>
  </div>
  <div class="ml-[3.25rem] text-sm">
    In nulla magna quis nisi sint eu exercitation incididunt incididunt
    consequat aliquip exercitation irure. Cupidatat pariatur cupidatat voluptate
    ex sunt adipisicing consectetur duis occaecat exercitation id. Esse ut Lorem
    elit sit ut tempor aliquip.
  </div>
  <ul class="ml-[3.25rem] gap-6 flex flex-row">
    <li class="flex flex-row items-center gap-1">
      <span class="iconify text-2xl" data-icon="icon-park-outline:like"></span>
      <p>100</p>
    </li>
    <li class="flex flex-row items-center gap-1">
      <span
        class="iconify text-2xl"
        data-icon="icon-park-outline:dislike"
      ></span>
      <p>100</p>
    </li>
    <li class="flex flex-row items-center gap-1">
      <span class="iconify text-2xl" data-icon="bx:comment-detail"></span>
      <p>100</p>
    </li>
  </ul>
</div>
